<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pluginAssembly" value="WSPPacker.dll"/>
    <add key="pluginClass" value="WSPPacker"/> 
    <add key="pluginTitle" value="WSP Package editor"/> 
    <add key="writeTrace" value="true"/>
  </appSettings>
</configuration>